<ion-header no-border>

  <ion-navbar>
    <ion-title>Article</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="article-header">

    <h2>{{article.article_code}}</h2>
    <h5>{{article.article_name}}</h5>

    <div class="article-detail">
      <h5>{{article.brand_name}}</h5>
      <h5>{{article.family_name}}</h5>
    </div>

  </div>

  <div class="article-prices">
    <h4>Precios</h4>
    <ion-list class="list-prices">
      <ion-item class="item-prices" *ngFor="let price of prices">

        <div class='type'>
            <div class='type-code'>{{ price.price_code }} &nbsp; {{ price.price_info }}</div>
            <div class='type-type'>{{ price.tax_code }}% {{ price.taxtype_info }}</div>
        </div>
        
        <div class='price'>            
          <div class='price-price'> {{ price.price }} € </div>
          <div class='price-dto'>12% dto. </div>
        </div>

      </ion-item>  
    </ion-list>
  </div>

  <div class="article-warehouse">
      <h4>Almacenes</h4>
      <ion-list>

        <ion-card *ngFor="let warehouse of warehouses" (click)="presentActionSheet(warehouse)" class='{{warehouse.icon}}'>
          <ion-card-header>
            <div class='warehouse'>
              <div class='warehouse-code'>{{ warehouse.name }}</div>
              <div class='warehouse-ubications'>{{ warehouse.ubication }} 
                <span *ngIf="warehouse.ubication==''">-</span>
              </div> 
            </div>
            <div class='uds'>
              <div class='uds-value'>{{ warehouse.units }} <span>Uds</span></div>
              <div class='uds-lock'><ion-icon name="{{ warehouse.icon }}"></ion-icon></div>
            </div>
          </ion-card-header>
        </ion-card>

      </ion-list>

    </div>
  
</ion-content>
