page-inventory-amount {
    .scroll-content{
        padding: 0 !important;
    }
    .input-ubication{
        float: left;
        opacity: .4;
        margin-right: 5px;
    }
    .button{
        padding: 1.8em 1em;
        margin-top: 2em;
        border-width: 2px;
        border-radius: 10px;
    }
    .main-container{
        margin: 0em 2em 0em 2em;
    }
    .error-login{
        margin-top: 3em;
        opacity: .3;
        text-align: center;
        p{
            text-align: center;
        }
        img{
            height: 60px;
        }
    }
    .item-inner{
        margin-right: 2px;
        margin-left: 2px;
        text-align: center;
    }
    ion-label{
        font-size: 1.4rem !important;
    }
    ion-input{
        color: white;
        font-size: 2.5em;
        font-weight: 500;
        input{
            text-align: center;
            margin-top: 15px;
        }
    }
    ion-img{              
        background: transparent;
        margin: 0 auto 0 auto;
        display: block;
    }
    .ubication{
        margin: 0 auto 0 auto;
        display: block;
        text-align: center;
        h2{
            color: white;
            font-weight: 900;
            font-size: 3.5em;
            margin-top: .2em;
        }
        ion-label{
            color: #676767;
        }
    }
    .item{
        width: 47%;
        padding: 0;
        background: none;
    }
    ion-header{
        background: transparent;
        .toolbar{
            button{
                color:white;
            }
            .toolbar-title{
                color:white;
            }
            .toolbar-background{
                background-color: #2b2b2b;
            }
        }
    }
    .content{
        background-color:#2b2b2b
    }
    ion-content{
        .article-header{
            background-color: #2b2b2b;
            padding: 3em 2em 3em 2em;
            color:white;
            h2{
                margin-top:0;
                font-weight: 900;
                font-size: 3rem;
                margin-bottom:0.2em;
            }
            h5{
                margin-top:0;
                color:gray;
                font-size: 2rem;
                margin-bottom:0;
                font-weight: 100;
            } 
        }
        .article-detail-header {
            padding-top: 2em;
            h5{
                margin:0;
                font-weight: 100;
            } 
        }
        .article-detail {
            padding: 2em 2em 0em 2em;
            img{
                float:left; 
                width: 28px;
                margin-top: 8px; 
                margin-right: 15px;
            }
            h4{
                font-size: 1.6em;
                font-weight: 500;
                margin-top: 0.5em;
                margin-bottom: 1.5em;
            } 
            p{
                margin:0em 0em 1em 0em;
            }
            span {
                font-weight: 500;
                float: left;
                width: 5.3em;
            }
        }
        form{
            padding: 1em 0.5em 2em 0.5em;
            ion-label{
                color:white !important;
            }
            .dotted{
                font-size: 3rem;
                float: left;
                font-weight: 900;
                padding: 1em 0;
                color: #807e7e;
            }
        }
    }
}
